<header>
  <nav>
    <h1>My Record Collection</h1>

    <div class="controls">
      <div class="controls-left">
        <mat-select placeholder="Sort by" (selectionChange)="albumService.sortField.set($event.value)">
          <mat-option value="title">Title</mat-option>
          <mat-option value="artist">Artist</mat-option>
          <mat-option value="year">Date</mat-option>
          <mat-option value="genre">Genre</mat-option>
          <mat-option value="color">Color</mat-option>
        </mat-select>

        <button class="sort-order-btn" (click)="albumService.sortOrder.set(albumService.sortOrder() === 'desc' ? 'asc' : 'desc')">
          {{ albumService.sortOrder() === 'desc' ? 'Desc' : 'Asc' }}
        </button>

        <mat-select placeholder="Filter by genre" (selectionChange)="albumService.filterGenre.set($event.value)">
          <mat-option value="">All</mat-option>
          @for (g of albumService.genres; track g) {
            <mat-option [value]="g">{{ g }}</mat-option>
          }
        </mat-select>

        <mat-checkbox
          [checked]="albumService.showCompilations()"
          (change)="albumService.showCompilations.set($event.checked)">
          Compilations
        </mat-checkbox>

        <mat-checkbox
          [checked]="albumService.showGifted()"
          (change)="albumService.showGifted.set($event.checked)">
          Gifted
        </mat-checkbox>

        <mat-checkbox
          [checked]="albumService.showSoundtracks()"
          (change)="albumService.showSoundtracks.set($event.checked)">
          Soundtracks
        </mat-checkbox>
      </div>

      <div class="controls-right">
        <div class="volume-control">
          <mat-icon>volume_up</mat-icon>

          <input
            type="range"
            min="0"
            max="100"
            [value]="20"
            (input)="setVolume($event)"
          />
        </div>

        <button mat-icon-button [matMenuTriggerFor]="displayMenu" aria-label="Change display size">
          <mat-icon>grid_view</mat-icon>
        </button>

        <mat-menu #displayMenu="matMenu">
          <button mat-menu-item (click)="albumService.displaySize.set('large')">
            <span>Large</span>
          </button>
          <button mat-menu-item (click)="albumService.displaySize.set('medium')">
            <span>Medium</span>
          </button>
          <button mat-menu-item (click)="albumService.displaySize.set('small')">
            <span>Small</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </nav>
</header>